{% extends 'base.html.twig' %}

{% block body %}
<h1>Check Result</h1>
    {% for key, value in checkResult %}
        <h2>{{ key }}</h2>
        {% for result in value.advisories %}
            <p>{{ result.title }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}