{% extends 'base.html.twig' %}

{% block body %}
<h1>Check Result</h1>
    {% for result in checkResult %}
        {% for resultName in result %}
            {% for advisory in result.advisories %}
                <p>{{ advisory.title }}</p>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}